# Added for oChre
doc/html/
doc/latex/
src/config.h
src/tests/catch.hpp

#CMake, compilation, packaging
*.deb
*.rpm
*vcxproj*
bin/
build/
cmake-build-debug/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Ochre.sln
src/cmake-build-debug
src/CMakeLists.txt

#IDE related
.idea/
.vs/
.vscode/
ochre.dir/
x64/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.bin
*.exe
*.out
*.app
