# Added for oChre
.idea/
.metadata
.vscode
bin/
cmake-build-debug/
*.deb
doc/html/
doc/latex/
ochre_*_
src/.idea
src/cmake-build-debug
src/CMakeLists.txt
src/tests/catch.hpp

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.bin
*.exe
*.out
*.app
